html, body {
  overflow-x: hidden; 
  width: 100%;
  scroll-behavior: smooth;
}
 
  :root {
  --clr-light:#fff;
  --clr-dark: #303030;
  --clr-accent:#16e0bd;
  --clr-grayish:#e8f5e9;
  --clr-blue: #e8eaf6;
} 

body{
background-color: var(--clr-light);
color:var(--clr-dark);
margin: 0;
font-family: 'Lato', sans-serif;
line-height: 1.6;
}

/*Header-Navigation*/

#header {
padding: 0 45px;
background-color: var(--clr-accent);
color: var(--clr-light);
display: flex;
justify-content: space-between;
align-items: center;
}

.nav a {
  color: var(--clr-dark);
  text-decoration: none;
  display: block;
  transition: all 0.5s ease-out;
}

.nav a:hover{
  color: var(--clr-light);
  transform: rotate(6deg);
}

.nav {
  list-style: none;
  display: flex;
  padding: 10px 300px;
 }

.nav li {
  margin-left: 20px;
  padding: 0 40px 0 40px;
  display: flex;
  justify-content: space-around;
}

/*Introduction*/

.intro {
  background-color: var(--clr-grayish);
  padding: 30px 45px ;
  display: flex;
  justify-content: center;
 }

.intro-inner {
  width: 760px;
  }

 .intro h1{
    font-weight: normal;
    font-size: 2rem;  
    margin: 0;
    display: flex;
    justify-content: center;
 }

.intro p {
  font-size: 1.1rem;
  line-height: 1.6;
  display: flex;
  justify-content: center;
}

 .intro img{
  height: 400px;
  width: 300px;
  object-fit: cover;
  object-position: center;
}

.row {
 display: flex;
 padding-right: 80px;
 }
  
.column {
    flex: 33.33%;
    padding: 5px;
  }

  /*About*/

.about {
  background-color: var(--clr-blue);
  padding: 30px 45px;
 }

 .about-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
 }

.about h2{
justify-content: center;
display: flex;
}

/* Projects*/

.projects {
 padding: 50px 45px;
 text-align: center;
 display: grid;
 }

 .projects-grid {
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
 grid-gap: 10px;
  width: 100%;
  margin: 50px 50px;
}
   
.project-image {
  width:250px;
 }

.project-image:hover{
  box-shadow: 0 0 4px 2px rgba(0, 140, 186, 0.5);
 }

  p.caption {
  padding: 5px 2px 5px 2px;
  text-align: center;
  color: var(--clr-accent);
  font-size: 17px;
  text-decoration: none;
  }

  /* Footer*/

.contact{
  background-color: var(--clr-grayish);
  padding: 60px 15px;
}

.contact h2{
  justify-content: center;
  display: flex;
}

.contact p{
  font-size: 1.1rem;
  line-height: 1.6;
  display: flex;
  justify-content: center;
}

.contact i{
   padding: 15px 10px 15px 15px;
}

.footer {
  text-align: center;
  padding: 60px 0;
  font-size: .9rem;
}

.social-footer li{
  display: inline;
}

.social-footer .fab{
   padding: 0px 30px 0px 0px;
}

.fab {
  color:blue;
  font-size: 30px;
  }
  
  .fab:hover {
    color:red;
    }

  .fas {
  color:blue;
  font-size: 30px;
  }

  .fas:hover {
    color:red;
    }

    .copyright {
      text-align: center;
    }
    
  .btn-gettotop {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: var(--clr-accent);
  bottom: 40px;
  right:  40px;
  text-align: center;
  border-radius: 4px;
  }
 
.btn-gettotop .fas{
color: var(--clr-light);
font-size: 18px;
 margin: 10px 6px;
}


